body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #222;
	font-size: 14px;
	line-height: 20px;
	width: 100%;
}
td {
	font-size: 14px;
	line-height: 20px;
}
h1, h2, h3, h4, h5, h6 {
	color: #444;
}
h1 {
	font-size: 30px;
}
h2 {
	font-size: 26px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 18px;
}
a {
    text-decoration: none;
	color: #2081bb;
}
a:hover {
	text-decoration: none;
    color: #23a1d1;
}
.error {
	color: #f00;
}
.messages {
	position:fixed;
	text-align: right;
	z-index: 10;
	top:0px;
	right:0px;
	min-height: 0px;
}
.messages_error {
	border-radius: 5px;
	margin: 5px 15px;
	background-color: #fc8f8f;
	color:#222;
	padding: 5px 15px;
}
.messages_success {
	border-radius: 5px;
	margin: 5px 15px;
	background-color: #aefdae;
	color:#222;
	padding: 5px 15px;
}
.messages_info {
	border-radius: 5px;
	margin: 5px 15px;
	background-color: #defc99;
	color:#222;
	padding: 5px 15px;
}
.lot_icon {
	max-width: 240px;
    max-height: 240px;
    border: 0px;
}
.customer_menu {
	background-color:#d1edfd;
	padding: 10px 20px;
	width: 200px;
	border-radius: 5px;
	position: fixed;
	top: 20px;
	left: 20px;
}
.auction_logo {
	border: 0px;
	width: 128px;
	margin: 0 auto;
}
.small_icon {
	width: 35px;
	height: 35px;
	border: 0px;
	float: left;
	margin: 0 5px;
	cursor: pointer;   
}
.auction_info {
	border-style: dotted;
	border-width: 2px;
	margin: 0px;
	padding: 5px;
	min-height: 40px;
	min-width: 200px;
	font-size: 10px;
}
.click_me {
	cursor: pointer;
}
.hidden {
    display: none;
}
.bid_button {
	cursor: pointer;
	padding: 5px 10px;
	background-color:#145880;
	color: #fff;
	border-radius: 5px;
    text-align: center;
}
.big_button {
    min-width: 180px;
}
.bid_button:hover {
	background-color:#2a78a5;
}
.install {
    max-width: 600px;
    margin: auto;
}
